[submodule "sdkdocs/php"]
	path = sdkdocs/php
	url = https://github.com/dapr/php-sdk.git
[submodule "translations/docs-zh"]
	path = translations/docs-zh
	url = https://github.com/dapr/docs-zh.git
	branch = v1.0_content
[submodule "sdkdocs/rust"]
	path = sdkdocs/rust
	url = https://github.com/dapr/rust-sdk.git
